# =========================
# .NET / Visual Studio
# =========================
bin/
obj/
.vs/
*.user
*.suo

# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# ASP.NET development settings
appsettings.Development.json

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db